.linkContainer {
	width: 100vw;
	height: 8vh;
	background-color: #042326;
	display: flex;
	justify-content: end;
	align-items: center;
}
.links {
	color: white;
	text-decoration: none;
	margin-right: 2vw;
}
