
* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    flex: 1; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000; 
    
}


h2 { 
    color:rgb(255, 255, 255);
    font-size: 5.2rem;
    text-shadow: 10px 2px #000000;    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7em;
    font-family: 'Comfortaa', cursive;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.welcome { 
    display: block;
    position: absolute;
    top: 130px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image:url(../images/nodes.png);
}