* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

img { 
    width: 100%;
}


.Gallery { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 1em;
}

a { 
    cursor: pointer;
}

.yarl__slide_title { 
    font-size: xx-large !important;
}

.yarl__slide_description
{
    font-size: x-large !important;
}


/* End code for lightbox */